@model IEnumerable<schoolMVC.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<p>
 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
              
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prize)
            </td>
            <td>
                <img src="@Url.Content(item.image)" alt="Sample Photo" id="Pic" />
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <!-- <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
    |
    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
